body {
    background-color: rgb(45,45,45);
    color: white;
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    padding: 0;
    margin: 0;
}

h1 {
    margin-block-start: 0.2em;
    margin-block-end: 0.4em;
    letter-spacing: 1px;
}

.logo-container {
    cursor: pointer;
}

#sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: rgb(30,30,30);
    font-family: Verdana;
}

#sidebar .logo-container {
    text-align: center;
    padding: 10px 14px;
    height: 120px;
    overflow: hidden;
}

#sidebar .logo {
    width: 120px;
}

#sidebar .section {
    cursor: pointer;
}

#sidebar .section:hover,
#sidebar .section.active {
    background-color: rgb(45,45,45);
}

#sidebar .group {
    padding: 10px 16px;
    letter-spacing: 1px;
    font-size: 15px;
}

#sidebar .subsection {
    padding: 10px 35px;
    letter-spacing: 1px;
    font-size: 12px;
}

.main-container {
    margin-left: 250px;
    padding: 0;
}

#main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 8px 14px;
}

#main .section {
    display: none;
}

#main .section.active {
    display: block;
}

p {
    font-size: 14px;
    color: gray;
    padding: 10px 0;
}

.install {
    text-align: center;
    margin: 20px 0;
}

.install span {
    font-size: 20px;
    color: gray;
    border: 1px solid gray;
    padding: 10px 16px;
    background-color: rgb(35,35,35);
    border-radius: 5px;
}

.code {
    font-size: 14px;
    color: gray;
    white-space: pre;
    margin: 10px 0;
    border: 1px solid gray;
    padding: 10px 16px;
    background-color: rgb(35,35,35);
    border-radius: 5px;
}

.suggestbox {
    font-size: 14px;
    color: gray;
    margin: 10px 0;
    border: 1px solid gray;
    padding: 10px 10px 15px 10px;
    border-radius: 5px;
}

.suggestbox img {
    width: 18px;
    position: relative;
    top: 4px;
    filter: invert(.55);
}

.warning {
    background-color: #401515;
}

.info {
    background-color: #0a3104;
}

#navbar {
    display: none;
    background-color: rgb(30,30,30);
    height: 54px;
    text-align: center;
}

#navbar img {
    margin: 7px 0;
    width: 40px;
}

#hamburger {
    position: fixed;
    top: 12px;
    left: 20px;
}

#hamburger div {
    width: 25px;
    height: 2px;
    background-color: rgb(150,150,150);
    margin: 6px 0;
    border-radius: 3px;
}

#hamburger.open div {
    background-color: white;
}

@media screen and (max-width: 991px) {
    #sidebar {
        transform: translateX(-100%);
        width: 100%;
        z-index: 1;
        margin-top: 54px;
    }

    #sidebar.open {
        animation: slide-in 0.2s forwards;
        -webkit-animation: slide-in 0.2s forwards;
    }

    #sidebar.closed {
        animation: slide-out 0.2s forwards;
        -webkit-animation: slide-out 0.2s forwards;
    }

    @keyframes slide-in {
        100% { transform: translateX(0%); }
    }

    @-webkit-keyframes slide-in {
        100% { -webkit-transform: translateX(0%); }
    }

    @keyframes slide-out {
        0% { transform: translateX(0%); }
        100% { transform: translateX(-100%); }
    }

    @-webkit-keyframes slide-out {
        0% { -webkit-transform: translateX(0%); }
        100% { -webkit-transform: translateX(-100%); }
    }

    #sidebar .logo-container {
        display: none;
    }

    .main-container {
        margin-left: 0;
    }

    #navbar {
        display: block;
    }
}
